[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
"boto3" = "==1.7.54"
"psycopg2" = "==2.7.5"
xdrparser = "==1.2.1"
"pandas"= "==0.24.2"

[dev-packages]
pylint = "*"
pydocstyle = "*"
pycodestyle = "*"
